.navbar{
    justify-content: center !important;
    text-align: center !important;
}
.nav-link{
    width: 100%;
}
.display-zxc { 
    display: inline-block;

}

@media (prefers-reduced-motion: no-preference) {
    .nav-bar-anime {
      animation: App-logo-spin infinite 2s linear;
    }
  }

  
@keyframes nav-bar-anime {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }